/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* Tailwind CSS imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

html[data-theme="light"] {
	background-image: url("/backgroundImages/bg-img-light.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top;
}

/* Estilo para el tema oscuro */
html[data-theme="dark"] {
	background-image: url("/backgroundImages/bg-img-dark.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top;
}

/* Define TT Hoves font faces */
@font-face {
	font-family: "TT Hoves";
	src: url("./assets/fonts/TT Hoves Pro Trial Thin.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "TT Hoves";
	src: url("./assets/fonts/TT Hoves Pro Trial ExtraLight.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "TT Hoves";
	src: url("./assets/fonts/TT Hoves Pro Trial Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "TT Hoves";
	src: url("./assets/fonts/TT Hoves Pro Trial Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "TT Hoves";
	src: url("./assets/fonts/TT Hoves Pro Trial Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "TT Hoves";
	src: url("./assets/fonts/TT Hoves Pro Trial DemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "TT Hoves";
	src: url("./assets/fonts/TT Hoves Pro Trial Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "TT Hoves";
	src: url("./assets/fonts/TT Hoves Pro Trial ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "TT Hoves";
	src: url("./assets/fonts/TT Hoves Pro Trial Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}
